<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdufe.health_butler.dao.ArticleCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gdufe.health_butler.entity.ArticleCategory">
        <id column="id" property="id" />
        <result column="first_id" property="firstId" />
        <result column="first_classify" property="firstClassify" />
        <result column="second_id" property="secondId" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, first_id, first_classify, second_id, name, create_time, modified_time
    </sql>

</mapper>
