<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdufe.health_butler.dao.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gdufe.health_butler.entity.Article">
        <id column="id" property="id" />
        <result column="source" property="source" />
        <result column="source_id" property="sourceId" />
        <result column="author" property="author" />
        <result column="title" property="title" />
        <result column="img_url" property="imgUrl" />
        <result column="keywords" property="keywords" />
        <result column="cid" property="cid" />
        <result column="see" property="see" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, source, source_id, author, title, img_url, keywords, cid, see, content, create_time, modified_time
    </sql>

</mapper>
