<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdufe.health_butler.dao.FoodDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gdufe.health_butler.entity.FoodDetail">
        <id column="id" property="id" />
        <result column="fid" property="fid" />
        <result column="alias_name" property="aliasName" />
        <result column="affect" property="affect" />
        <result column="nutrition" property="nutrition" />
        <result column="avoid" property="avoid" />
        <result column="suitable" property="suitable" />
        <result column="foods_suit" property="foodsSuit" />
        <result column="foods_avoid" property="foodsAvoid" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fid, alias_name, affect, nutrition, avoid, suitable, foods_suit, foods_avoid, create_time, modified_time
    </sql>

</mapper>
