<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdufe.health_butler.dao.FoodMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gdufe.health_butler.entity.Food">
        <id column="id" property="id" />
        <result column="source" property="source" />
        <result column="source_id" property="sourceId" />
        <result column="fcid" property="fcid" />
        <result column="name" property="name" />
        <result column="img_url" property="imgUrl" />
        <result column="brief" property="brief" />
        <result column="affect" property="affect" />
        <result column="nutrition" property="nutrition" />
        <result column="avoid_num" property="avoidNum" />
        <result column="suitable_num" property="suitableNum" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, source, source_id, fcid, name, img_url, brief, affect, nutrition, avoid_num, suitable_num, create_time, modified_time
    </sql>

</mapper>
