<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdufe.health_butler.dao.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gdufe.health_butler.entity.Task">
        <id column="id" property="id" />
        <result column="reward" property="reward" />
        <result column="category1" property="category1" />
        <result column="category2" property="category2" />
        <result column="title" property="title" />
        <result column="img_url" property="imgUrl" />
        <result column="description" property="description" />
        <result column="max_count" property="maxCount" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, reward, category1, category2, title, img_url, description, max_count, create_time, modified_time
    </sql>

</mapper>
